node_modules
**/node_modules
.git
.github
.cursor
**/*.test.ts
**/*.test.tsx
**/__tests__
**/coverage
**/.next
**/dist
.env
.env.*
!.env.example
docs
tests/e2e/playwright-report
terminals
*.md
!README.md
